# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.dylib
*.o
bin/*
pkg/*
doc/generate-api/*
vendor/
go.sum

# Sample binary
libedge-orchestration/lib/*
libedge-orchestration/sample/output/*
src/controller/scoringmgr/mock_internal/myscoring/libmyscoring.so*
src/controller/scoringmgr/mock_internal/myscoring2/libmyscoring2.so*


# Test binary, build with `go test -c`
*.test

# Output of build
*.o
GoMain/bin/*
src/interfaces/capi/output
src/interfaces/javaapi/output

# samples for native
samples/native/test/edge-orchestration

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.html

# VS Code
.vscode/

# Eclipse
.project
.cproject

# GoLand
.idea
