name: Go fuzz test
on: [push, pull_request]

permissions:
  contents: read

jobs:
  test-suite:
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29

      - name: Setup Golang
        uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7
        with:
          go-version: '1.19'

      - name: Fuzz test
        run: |
          GO111MODULE=on go mod tidy
          GO111MODULE=on go mod vendor
          ./tools/fuzz-all.sh 30
