name: Lint, Vet, GoFmt and Staticcheck analysis
on: [push, pull_request]

permissions:
  contents: read

jobs:
  lintvetanalysis:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@629c2de402a417ea7690ca6ce3f33229e27606a5 # v2

      - name: Setup Golang
        uses: actions/setup-go@268d8c0ca0432bb2cf416faae41297df9d262d7f # v1
        with:
          go-version: '1.19'

      - name: Set env vars (golint)
        run: |
          go mod tidy
          go install golang.org/x/lint/golint@6edffad5e6160f5949cdefc81710b2706fbcd4f6
          echo "$HOME/go/bin" >> $GITHUB_PATH
          go install honnef.co/go/tools/cmd/staticcheck@c8caa92bad8c27ae734c6725b8a04932d54a147b

      - name: Lint Analysis
        run: |
          golint ./internal/...

      - name: Vet Analysis
        run: |
          go vet -v ./internal/...

      - name: GoFmt Analysis
        run: |
          if [[ $(gofmt -l ./internal) ]]; then exit 1; fi
          if [[ $(gofmt -l ./cmd) ]]; then exit 1; fi

      - name: Staticcheck Analysis
        run: |
          staticcheck ./...
