name: Publish Containers
on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-20.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@629c2de402a417ea7690ca6ce3f33229e27606a5 # v2

      - name: Setup Golang
        uses: actions/setup-go@77b162d042858409656f087cab0246511e670694 # v1
        with:
          go-version: '1.16.6'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@27d0a4f181a40b142cce983c5393082c365d1480 # v1

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@e5622373a38e60fb6d795a4421e56882f2d7a681 # v3
        with:
          images: lfedge/edge-home-orchestration-go
          tags: |
            type=semver,pattern={{version}}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@94ab11c41e45d028884a99163086648e898eed25 # v1

      - name: Log in to Docker Hub
        uses: docker/login-action@6af3c118c8376c675363897acf1757f7a9be6583 # v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Copy Dockerfile
        run: |
          make distclean
          cp configs/defdockerfiles/ubuntu_multistage Dockerfile

      - name: Build and push
        uses: docker/build-push-action@7f9d37fa544684fb73bfe4835ed7214c255ce02b # v2
        with:
          context: .
          build-args: TARGETVERSION=v${{ steps.meta.outputs.version }}
          platforms: linux/amd64,linux/386,linux/arm64,linux/arm/v7
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
